@using CS_UrlRedirect_Pages;
@model IEnumerable<Models.Redirect>

@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var currentUrl = $"{routeUrl}{qsPath}";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumVisits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumVisits)
                    </td>
                    <td>
                        <input type="submit" value="📝 Update" class="cancel btn btn-primary"
                               onclick="location.href='@Url.Page("Update",  new { id = item.Id })'" />

                        <form asp-page="Delete" style="display: inline-block;">
                            <input type="hidden" name="@nameof(item.Id)" value="@item.Id" />
                            @if (!currentUrl.EndsWith($"/{item.Id}") && !currentUrl.Contains($"/{item.Id}/")) { 
                                <input type="hidden" name="redirect" value="@currentUrl" />
                            }
                            <input type="submit" value="🗑️ Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete code \'@item.ShortCode\'?')" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
