@using CS_UrlRedirect_Pages;
@model CS_UrlRedirect_Pages.Models.RedirectViewModel
@*
    data-ajax-confirm="Are you sure you want to do this?"
*@

@{
    var redirectTo = Url.Page("Index");
}

<h4>
    @(Model.action == Models.RedirectViewModel.Action.Create ?
                                                 "Add" : "Update") Redirect
</h4>

<form asp-page="Save" asp-route-redirectTo="@redirectTo"
      data-ajax="true" data-ajax-success="formValidationHandler.onSuccess" data-ajax-failure="formValidationHandler.onFailure"
      data-ajax-complete="formValidationHandler.onComplete"
      data-ajax-url="@Url.Page("Save", new { redirectTo = redirectTo })"
    >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="action" type="hidden" />
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="ShortCode" class="control-label"></label>
        <input asp-for="ShortCode" class="form-control" autocomplete="off" />
        <span asp-validation-for="ShortCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Url" class="control-label"></label>
        <input asp-for="Url" class="form-control" autocomplete="off" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        @if (Model.action == Models.RedirectViewModel.Action.Update)
        {
            <input type="submit" value="❌ Cancel" formnovalidate class="cancel btn btn-secondary"
                   onclick="location.href='@Url.Page("Index")'" />
        }
        <input type="submit" value="@(Model.action == Models.RedirectViewModel.Action.Create ?
                                                 "➕ Add" : "💾 Update") Redirect" class="btn btn-primary" />
    </div>
</form>


<script>
    var formValidationHandler = formValidationHandler;
    if (!formValidationHandler) {
        formValidationHandler = UnobtrusiveAjaxHandler.getNew('#redirect-form-container');
        formValidationHandler.onFailure = (xhr) => {
            console.log(xhr);
            alert('An error occurred. Please try again!');
        };
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
